NEXT_PUBLIC_SPOTIFY_URL=https://open.spotify.com
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/music-db
ADMIN_PASSWORD=admin123
